---
import Layout from '../layouts/Layout.astro';
import Newsletter from '../components/Newsletter.astro';

const socials = [
  {
    image: '/images/facebook-f.svg',
    title: 'Facebook',
    links: '//facebook.com',
  },
  {
    image: '/images/twitter.svg',
    title: 'Twitter',
    links: '//twitter.com',
  },
  {
    image: '/images/youtube.svg',
    title: 'Youtube',
    links: '//youtube.com',
  },
];
---

<Layout title='Contact Us'>
  <main class='pt-[100px] flex-grow'>
    <!-- Hero Section -->
    <section class='w-full'>
      <picture>
        <source media='(min-width: 640px)' srcset='/images/img06.jpg' />
        <img
          src='/images/mobile-img06.jpg'
          alt='Hero Image'
          class='w-full max-h-[600px] 2xl:max-h-[800px] object-cover'
        />
      </picture>
    </section>
    <!-- END Hero Section -->

    <!-- Contact Info -->
    <section class='py-12 bg-black lg:pt-16 lg:pb-32'>
      <div class='px-8 mx-auto space-y-8 max-w-7xl md:px-16 lg:px-20 xl:px-32'>
        <h2
          class='text-ekis text-[2rem] lg:text-[2.5rem] font-bold text-center'
        >
          CONTACT US
        </h2>

        <div class='grid gap-10 sm:grid-cols-2 text-slate-50'>
          <div class='space-y-5'>
            <h3 class='text-[1.4rem] lg:text-[1.7rem] font-bold'>
              FOR MESSAGES, CONCERNS OR INQUIRIES:
            </h3>
            <p class='text-[1.2rem] lg:text-[1.3rem] font-bold'>
              <span class='block'>EKIS SA SMUGGLING</span>
              <span class='block font-light'>Email: email@ekis.com</span>
            </p>
            <p class='text-[1.2rem] lg:text-[1.3rem] font-bold'>
              <span class='block'
                >NCUP - Nicotine Consumers United of the Philippines</span
              >
              <span class='block font-light'
                >Phone: (033) 500-4430 / 0916 925 9217</span
              >
            </p>
          </div>

          <div class='space-y-5'>
            <h3 class='text-[1.4rem] lg:text-[1.7rem] font-bold'>
              FOLLOW US ON SOCIAL MEDIA:
            </h3>

            <div class='flex flex-row space-x-3'>
              {
                socials.map((social) => (
                  <a
                    href={social.links}
                    target='_blank'
                    class='inline-flex justify-center w-10 h-10 p-2 rounded-full bg-slate-50 hover:opacity-80'
                  >
                    <img
                      src={social.image}
                      alt={social.title}
                      class='object-contain'
                    />
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- END Contact Info -->

  <Newsletter />
</Layout>
