---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title='Article'>
  <main class='pt-[100px] flex-grow'>
    <!-- Hero Section -->
    <section class='w-full'>
      <img
        src='/images/img04.jpg'
        alt='Hero Image'
        class='w-full max-h-[800px] object-cover'
      />
    </section>
    <!-- END Hero Section -->

    <section class='py-12 bg-black lg:py-16'>
      <div
        class='text-white max-w-7xl mx-auto px-8 md:px-16 lg:px-36 2xl:px-20'
      >
        <span class='block pb-2 text-lg italic text-ekis md:text-xl'>
          Manila Bulletin
        </span>
        <h3 class='pb-4 text-2xl font-bold md:text-3xl lg:text-4xl'>
          BOC RAIDS SULU WAREHOUSE, SEIZES P1.4B WORTH OF SMUGGLED CIGARETTES
        </h3>
        <p class='text-gray-500 italic'>
          Published March 3, 2023, 9:28 AM
          <span class='block'>by Aaron Recuenco</span>
        </p>

        <div class='py-12'>
          <hr class='border-ekis' />
        </div>

        <div class='space-y-6'>
          <p>
            The Bureau of Customs (BOC) has been on a roll in its big-time
            ant-smuggling campaigns as it confiscated, this time, around P1.4
            billion worth of cigarettes in a raid on a warehouse in Sulu on
            Thursday, March 2.
          </p>

          <p>
            BOC Commissioner Bienvenido Rubio said the operation stemmed from
            confirmed intelligence reports about the presence of smuggled items
            in Indanan town, especially amid the pockets of operations that
            yielded smuggled cigarettes in Mindanao in the past months.
          </p>

          <p>
            Armed with a Letter of Authority (LOA) signed by Rubio, a team from
            the and Customs Intelligence and Investigation Service at the Manila
            International Container Port (CIIS-MICP) raided the warehouse in
            Sitio Buotan, Kajatian, Indanan town which resulted in the discovery
            of over a billion worth of cigarettes.
          </p>

          <p>
            Intelligence Officer 3 Alvin Enciso, chief of the Customs
            Intelligence and Investigation Service at the Manila International
            Container Port (CIIS-MICP), said they were accompanied by personnel
            from the Western Mindanao Command-Armed Forces of the Philippines
            (WESMINCOM-AFP), 11th Infantry Division, Philippine Army (11ID PA),
            Philippine Air Force- Special Operations Wing (PAF-SPOW), Joint Task
            Force (JTF)-Sulu, Philippine Navy-Naval Special Operations Unit (PN-
            NAVSOU), and PN Naval Forces Mindanao when they proceeded to the
            area.
          </p>

          <p>
            Military presence is usually needed in some parts of western
            Mindanao due to the presence of a number of armed lawless groups.
          </p>

          <img
            src='/images/img07.jpg'
            alt='Image 07'
            class='object-contain w-full'
          />

          <p>
            "The warehouse was found to contain an estimated 19,000 master cases
            of assorted imported cigarettes, such as B&E ice menthol, New Far
            menthol, Souvenir menthol, Cannon menthol, BroadPeak black menthol,
            and Bravo," said Enciso.
          </p>

          <p>
            A warehouse representative by the name Nomil K Aran acknowledged the
            LOA, so the team proceeded to inspect the facility where cases of
            smuggled cigarettes were found and immediately hauled them to the
            Port of Zamboanga via a Philippine Navy vessel.
          </p>

          <p>
            Deputy Commissioner for Intelligence Group Juvymax y said they
            immediately acted upon receiving derogatory information from the
            CIS, headed by Director Verne Enciso.
          </p>

          <p>
            "Remember that this happened in Sulu, in Indanan. Yet, despite how
            far Mindanao is from us, we made sure that distance won't stop us
            from serving the LOA," said Uy.
          </p>

          <p>
            The southern part of Mindanao is considered to have a porous border
            and security officials said it is usually the route of smugglers.
          </p>

          <p>
            "Simply put, we will stop at nothing and we will be present in every
            corner of the Philippines to make sure there won't be space for
            these illegal activities," he added.
          </p>

          <p>
            Enciso, for his part, said the recent spate of warehouse raids that
            led to billions worth of discovery of smuggled items was made
            possible because the commissioner understands what is at stake.
          </p>

          <p>
            "Commissioner Rubio is setting the standard for us. These recent
            raids are examples of how the agency will work moving forward," said
            Enciso.
          </p>

          <p>
            Uy said the District Collector will immediately be issuing the
            Warrant of Seizure and Detention (WSD) against subject smuggled
            cigarettes for possible violations of Executive Order No. 245, also
            known as "Amended Rules and Regulations Governing the Exportation
            and Importation of Leaf Tobacco and Tobacco Products", National
            Tobacco Administration (NTA) Memorandum Circular No. 03, series of
            2004: NTA Board Resolution No. 079-2005 in relation to Sec. 1113
            (fand Sec. 117 in connection to section 1401 of R.A No. 10863
            otherwise known as Customs Modernization and Tariff Act(CMTA) of
            2016.
          </p>

          <p>
            The BOC has further stepped up its anti-smuggling operations since
            the change of leadership last month.
          </p>

          <p>
            Earlier, over P1 billion worth of counterfeit products were seized
            in a raid in Pasay City warehouse, followed by the confiscation of
            over P10 billion worth of fake branded products during an operation
            in a warehouse in Binondo, Manila.
          </p>
        </div>

        <div class='flex justify-center py-16'>
          <Button text='BACK TO NEWS ARTICLES' link='/ekis-hotspots' />
        </div>
      </div>
    </section>
  </main>
</Layout>
