---
export interface Props {
  text: string;
  link: string;
}

const { text, link } = Astro.props;
---

<!-- Button -->
<a
  href={link}
  class='px-6 py-3 text-sm text-white uppercase rounded-full bg-ekis lg:py-4 lg:px-10 hover:opacity-80 whitespace-nowrap'
>
  {text}
</a>

<!-- END Button -->
