---
---

<footer
  class='flex flex-col items-center h-[100px] justify-center text-white bg-black'
>
  <h3>EKIS</h3>
  <p class='text-xs font-thin'>Sumali sa Laban Kontra Smuggling</p>
  <span class='text-xs font-thin'>
    {new Date().getFullYear()}
  </span>
</footer>
