---
const links = [
  {
    name: 'Home',
    link: '/',
  },
  {
    name: 'What is EKIS',
    link: '/what-is-ekis',
  },
  {
    name: 'EKIS Sumbungan',
    link: '/ekis-sumbungan',
  },
  {
    name: 'EKIS Hotspots',
    link: '/ekis-hotspots',
  },
  {
    name: 'Contact Us',
    link: '/contact-us',
  },
];
---

<!-- Header -->
<header class='fixed z-10 w-full bg-white shadow-lg'>
  <nav class='px-2 mx-auto max-w-7xl md:px-12 lg:px-28 2xl:px-2'>
    <div class='h-[100px] flex items-center justify-between'>
      <!-- Logo -->
      <div class='flex-shrink-0'>
        <a href='/'>
          <img
            src='/images/logo.png'
            alt='EKIS Logo'
            class='max-h-[90px] object-contain'
          />
        </a>
      </div>
      <!-- Burger menu -->
      <div class='flex items-center sm:hidden'>
        <button
          type='button'
          class='inline-flex items-center justify-center p-2 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-400 focus:outline-none focus:bg-gray-400 focus:text-white'
          aria-label='Main menu'
          aria-expanded='false'
        >
          <svg
            class='w-10 h-10'
            stroke='currentColor'
            fill='none'
            viewBox='0 0 24 24'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M4 6h16M4 12h16M4 18h16'></path>
          </svg>
        </button>
      </div>
      <!-- Links -->
      <div class='hidden sm:block'>
        <ul class='flex sm:space-x-3 md:space-x-6 lg:space-x-12'>
          {
            links.map((link) => (
              <li>
                <a href={link.link} class='font-bold hover:opacity-60'>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- Mobile menu, toggle classes with JavaScript -->
    <div class='hidden h-screen overflow-auto sm:hidden'>
      <div class='flex justify-center transition duration-300 ease-in-out'>
        <ul class='px-2 pt-16 pb-3 space-y-8'>
          {
            links.map((link) => (
              <li>
                <a href={link.link} class='text-lg font-bold hover:opacity-60'>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- END Header -->
