---
const links = [
  {
    name: 'Home',
    link: '/',
  },
  {
    name: 'What is EKIS',
    link: '/what-is-ekis',
  },
  {
    name: 'EKIS Sumbungan',
    link: '/ekis-sumbungan',
  },
  {
    name: 'EKIS Hotspots',
    link: '/ekis-hotspots',
  },
  {
    name: 'Contact Us',
    link: '/contact-us',
  },
];
---

<!-- Header -->
<header class='fixed z-10 w-full shadow-lg bg-slate-50'>
  <nav class='px-4 mx-auto max-w-7xl md:px-12 lg:px-28 2xl:px-2'>
    <div class='h-[100px] flex items-center justify-between'>
      <!-- Logo -->
      <div class='flex-shrink-0'>
        <a href='/'>
          <img
            src='/images/logo.png'
            alt='EKIS Logo'
            class='max-h-[90px] object-contain'
          />
        </a>
      </div>
      <!-- Burger menu -->
      <div class='flex items-center sm:hidden'>
        <button class='burger-menu focus:outline-none' aria-label='Main menu'>
          <span class='bar top-bar'></span>
          <span class='bar middle-bar'></span>
          <span class='bar bottom-bar'></span>
        </button>
      </div>
      <!-- Links -->
      <div class='hidden sm:block'>
        <ul class='flex sm:space-x-3 md:space-x-6 lg:space-x-12 text-gray-900'>
          {
            links.map((link) => (
              <li>
                <a href={link.link} class='font-bold hover:opacity-70'>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- Mobile menu, toggle classes with JavaScript -->
    <div class='hidden h-screen overflow-hidden sm:hidden'>
      <div class='flex justify-center menu'>
        <ul class='px-2 pt-16 pb-3 space-y-8 text-gray-900'>
          {
            links.map((link) => (
              <li>
                <a href={link.link} class='text-lg font-bold hover:opacity-70'>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- END Header -->
