---
import Button from '../components/Button.astro';
---

<!-- CTA -->
<section class='relative'>
  <img src='/images/cta01.jpg' alt='CTA' class='object-cover' />

  <div
    class='absolute right-3.5 sm:right-20 lg:right-44 transform -translate-x-0 -translate-y-1/2 top-1/2'
  >
    <Button text='MAGFILE NG REPORT' link='/ekis-sumbungan' />
  </div>
</section>
<!-- END CTA -->
